.nav-tabs > li, .nav-pills > li {
    float: none;
    display: inline-block;
    *display: inline; /* ie7 fix */
    zoom: 1; /* hasLayout ie7 trigger */
}

.nav-pills {
    text-align: center;
}

table.stat th, table.stat td {
    font-size: 72%;
    font-family: "Myriad Web", Verdana, Helvetica, Arial, sans-serif;
}

tr.milestone td {
    background: greenyellow;;
    font-weight: bold;
}

.input-block-level {
  display: block;
  width: 110px;
  min-height: 34px;        // Make inputs at least the height of their button counterpart
  .box-sizing(border-box); // Makes inputs behave like true block-level elements
}