<div ng-controller="AgeGradeController as agCtrl">
    <div>

        <form name="agForm"
              ng-submit="agCtrl.estimateAgeGradeTime()">
            <H1>AG Calculator</H1>
            <table border="0" cellpadding="1" cellspacing="1" width="50%">
                <tr>
                    <td>Age:
                        <input ng-model="agCtrl.ag.age" type="number">
                        <br>
                        Gender:
                        <select class="form-control" ng-model="agCtrl.ag.sex">
                            <option value="">---Please select---</option>
                            <option value="0">Female</option>
                            <option value="1">Male</option>
                        </select>
                    </td>
                </tr>
            </table>
            <br>

            <input type="submit" class='btn btn-primary btn-lg btn-block' value="Build AG Table">
        </form>

        <span ng-bind-html="agCtrl.table| unsafe"></span>
    </div>
</div>
