<!doctype html>
<html ng-app="splits">

<head>
    <title>NBR Track Workout Split Calculator</title>
    <script src="scripts/splits.js"></script>
    <script src="scripts/split_form_validate.js"></script>
    <link href="./bootstrap-3.3.5-dist/css/bootstrap.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="./scripts/nbr-utils.css">

    <script type="text/javascript" src="./angular/angular.min.js"></script>
    <script type="text/javascript" src="./scripts/app.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="apple-touch-icon" sizes="57x57" href="./images/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="./images/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="./images/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="./images/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="./images/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="./images/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="./images/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="./images/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="./images/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="./images/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="./images/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./images/favicon-16x16.png">
    <link rel="manifest" href="./images/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="./images/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" type="text/css" href="./scripts/ath/addtohomescreen.css">
    <script src="./scripts/ath/addtohomescreen.js"></script>
    <script>
        addToHomescreen({detectHomescreen: true});
    </script>
</head>

<body ng-controller="SplitController as splitCtrl">

<div class="container">
    <section ng-init="splitCtrl.selection = 0">
        <ul class="nav nav-pills">
            <!-- the dynamic ng-class code here is pretty cool,
            use "active" if expression is true -->
            <li ng-class="{ active:splitCtrl.selection === 0 }">
                <a href ng-click="splitCtrl.selectTab(0)">Splits</a></li>
            <li ng-class="{ active:splitCtrl.selection === 1 }">
                <a href ng-click="splitCtrl.selectTab(1)">AG</a></li>
            <li ng-class="{ active:splitCtrl.selection === 2 }">
                <a href ng-click="splitCtrl.selectTab(2)">About</a></li>
        </ul>
    </section>

    <div ng-show="splitCtrl.showSplits()">
        <split-calculator></split-calculator>
    </div>

    <div ng-show="splitCtrl.showAgeGrade()">
        <ag-calculator></ag-calculator>
    </div>

    <div ng-show="splitCtrl.showAbout()">
        <about-page></about-page>
    </div>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="bootstrap-3.3.5-dist/js/bootstrap.js"></script>
</body>
</html>
