<div ng-controller="SplitController as splitCtrl">
    <div ng-hide="splitCtrl.showResults()">
        <form name="splitForm" ng-submit="splitCtrl.calculateSplits()" novalidate>
            <div class='row'>
                <div class='col-xs-12'>
                    <H3>NBR Track Workout</h3>
                    <h4>Split Calculator</H4>
                </div>
            </div>

            <div class='row'>
                <div class='col-xs-12'>
                    <p>Enter a PR (or McMillan Time) in any one (or multiple) of the following distances</p>
                </div>
            </div>

            <div ng-repeat="pr in splitCtrl.prs" class='row'>
                <div class='col-xs-6'>
                    <span class="pull-right">{{ pr.text }}</span>
                </div>
                <div class='col-xs-6'>
                <span ng-show="pr.showHours">
                    <input class="number-input" type="number" ng-model="pr.hours" name="hours_marathon" maxlength="1" size=1> :
                </span>
                    <input class="number-input" type="number" ng-model="pr.minutes" maxlength="2" size=0.5>
                <span ng-hide="pr.showHours">
                    : <input class="number-input" type="number" ng-model="pr.seconds" maxlength="2" size=0.5>
                </span>
                </div>
            </div>

            <div class='row'>
                <div class='col-xs-12'>
                    <p>
                        <br>
                        <input type="submit" class='btn btn-primary btn-lg btn-block' value="Calculate Splits">
                    </p>
                </div>
            </div>
        </form>
    </div>
    <div ng-show="splitCtrl.showResults()" class="col-xs-12">
        <span ng-bind-html="splitCtrl.splitTableHtml | unsafe"></span>

        <p>
            <button ng-click="splitCtrl.resetSplits()" class='btn btn-primary btn-lg btn-block'>Go back</button>
        </p>
    </div>
</div>